/**
*
* ---------------------------------------------------------------------------
*
* Template : Blue - A One-Page HTML Portfolio/Business Template
* Author : Muhammad Morshd
* Author URI : http://morsheds.com
*
* --------------------------------------------------------------------------- 
*
*/

/* =================================== */
/*	Basic Style 
/* =================================== */

@font-face {
    font-family: MyInter;
    src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
    background-color: #000000;
    font-family: 'Open Sans', serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
}

iframe {
    border: 0;
}

main > section {
    padding: 70px 0;
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
}

.btn-orange {
    background-color: #ffa833;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff !important;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
}

.btn-orange:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-color: #ff9900;
    padding: 15px 55px;
    color: #fff;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.bg-blue {
    background-color: #009EE3;
}

/* Sweep To Right */
.btn-effect {
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
	position: relative;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
		  
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
		  
	-webkit-transition-property: color;
	   -moz-transition-property: color;
		-ms-transition-property: color;
			transition-property: color;
		  
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
		  
	-moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
			transform: scaleX(0);
			
	-webkit-transform-origin: 0 50%;
	   -moz-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
			transform-origin: 0 50%;
			
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
			transition-property: transform;
			
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
			
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
	color: #009EE3;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
			transform: scaleX(1);
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #fff;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/**
/*	Preloader
/* ==========================================*/

#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1px;
  height: 100px;
  left: 50%;
  margin-left: -64px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
       -moz-animation: charge 5s linear infinite;
            animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
  background-color: #2E2E2E;
  border-radius: 0 1px 1px 0;
  content: "";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 7px;
  width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}





/**
/*	Header
/* ==========================================*/

.navigation {
    -webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;
    padding: 5px 0;
    margin-bottom: 1%;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1.navbar-brand {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.navbar-brand a {
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-brand a:hover {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.5));
    text-decoration: none;
}

/*=================================================================
	Transition
==================================================================*/

#site-body {
    transition: all 1s linear;
}

.homeOutTransitionCode {
    background-color: black!important;
}

.codeInTransition {
    opacity: 100%!important;
}

.codeOutTransition {
    opacity: 0!important;
}

/*=================================================================
	Home Slider
==================================================================*/


#home-slider {
    position: relative;
    padding: 0;
    height: 100vh;
    background-color: white;
    transition: background-color 1s linear, opacity 1s linear;
}

.sl-slider-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 

.sl-slide {
    z-index: 1;
}

.slide-caption {
    color: #000000;
    display: flex;
    height: 100%;
    min-height: 100%;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 11;
}

.slide-caption .caption-content {
    vertical-align: middle;
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption-content h2 {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    width: fit-content;
}

.caption-content .h3 {
    color: #000000;
    font-size: 48px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    gap: 10px;
}

.h3 .main-code {
    background-color: #000000;
    color: #5CF4FE;
    padding: 5px 7px;
    border-radius: 10px;
}

.main-code:hover {
    cursor: pointer;
}

.h3 .main-design {
    color: #8a06f3;
    text-underline: cornflowerblue;
    text-decoration: underline cornflowerblue 4px;
    text-underline-offset: 2px;
    border-color: cornflowerblue;
    padding: 5px;
    border-style: solid;
    position: relative;
}

.main-design:hover {
    cursor: crosshair;
}

.main-design .circle {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: cornflowerblue;
    padding: 5px;
    border-style: solid;
    width: 10px;
    height: 10px;
}

.main-design .top-right {
    top: -6px;
    right: -6px;
}

.main-design .top-left {
    top: -6px;
    left: -6px;
}

.main-design .bottom-right {
    bottom: -6px;
    right: -6px;
}

.main-design .bottom-left {
    bottom: -6px;
    left: -6px;
}

.main-design .pointer {
    background-image: url("img/icons/arrow.png");
    bottom: -50px;
    right: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
}

/*.vl {*/
/*    border-left: 2px solid cornflowerblue;*/
/*    height: 100vh;*/
/*    bottom: 100%;*/
/*    position: fixed;*/
/*    left: 80%;*/
/*}*/

/*.hl {*/
/*    border-bottom: 2px solid cornflowerblue;*/
/*    position: fixed;*/
/*    width: 100vh;*/
/*    left: 100%;*/
/*    bottom: 50%;*/
/*}*/

/*=================================================================
	Code Section
==================================================================*/

#code {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-button {
    cursor: pointer;
}

.code-title {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 5%;
}

.code-title span {
    color: #5CF4FE;
}

.code-card {
    background: linear-gradient(#2B2A2A, #2B2A2A00);
    color: white;
    width: 50%;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.code-card .title {
    font-size: 40px;
    height: 100%;
    display: flex;
    gap: 40px;
    font-weight: 600;
    align-items: center;
    align-content: center;
}

.code-card .content {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.code-card .skill-card {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
}

.code-card .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.code-card img {
    width: 80%;
    align-self: center;
}

.skill-card-container {
    display: flex;
    gap: 10px;
}

.card-pink {
    background: linear-gradient(#FF299D, #FE80C4);
}

.card-purple {
    background: linear-gradient(#8E31FA, #AB6BF5);
}

.card-blue {
    background: linear-gradient(#0224fc, #8086fe);
}

.card-red {
    background: linear-gradient(#fa3131, #f56b6b);
}

/*=================================================================
	Tab Section
==================================================================*/

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    background: linear-gradient(#2B2B2B, #565555);
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    padding: 10px 50px;
    align-self: start;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-family: MyInter;
    font-size: 24px;
    color: white;
    border-radius: 30px;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background: #A09F9F82;
}

/* Create an active/current tablink class */
.tablinks.active {
    background: #A09F9F82;
}

.tabcontent {
    opacity: 1;
}

.tabcontent-hidden {
    opacity: 0;
}

/*=================================================================
	Project Details
==================================================================*/

#cohortconnect, #foodzyme {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.project-details {
    width: 100%;
    justify-content: center;
    align-content: center;
    height: fit-content;
    margin-top: 2%;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: auto;
    width: 60%;
    left: 10%;
    gap: 20px;
    align-self: start;
}

.project-wrapper *{
    margin: auto;
}

.project-wrapper-title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.project-wrapper img {
    width: 60%;
    margin: 1% auto;
}

.overview-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    vertical-align: top;
}

.overview-details h2 {
    font-size: 36px;
    font-weight: 700;
}

.overview-details * {
    color: white;
    margin-bottom: 20px;
}

.project-overview {
    align-self: center;
    vertical-align: center;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
}

/*=================================================================
	Code Section
==================================================================*/

#design {
    background-image: radial-gradient(rgba(170, 170, 170) 2px, white 0);
    background-size: 60px 60px;
    background-position: -19px -19px;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.design-title {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.design-title * {
    text-align: center;
    color: black;
    font-size: 64px;
    font-weight: 700;
}

.design-pink {
    background: #C7B9FF;
    padding-inline: 10px!important;
    padding: 20px;
}

.design-yellow {
    background: #FDC602;
    padding-inline: 10px!important;
    padding: 20px;
    position: relative;
}

.break {
    display: block;
    margin: 100px 0;
}

.design-pointer {
    background-image: url("img/icons/arrow.png");
    position: absolute;
    bottom: 110%;
    left: 50%;
}

.design-pointer img {
    width: 50px;
    height: 50px;
}

.design-pointer-text {
    font-size: 20px;
    position: absolute;
    bottom: 60%;
    left: 80%;
    background: #2196F3;
    color: white;
    padding: 10px;
    font-weight: 500;
}

.design-sign {
    position: absolute;
    left: 61%;
    top: -70%;
}

.design-response * {
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: fit-content;
}

.design-response strong {
    font-weight: 700;
}

.design-response {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    background: #F24D1E;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    top: 200%;
    left: -15%;
}

.design-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 50px;
    align-self: center;
}

.design-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 550px;
    gap: 20px;
    border-radius: 10px;
}

.design-card .title {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.design-card .desc {
    font-size: 24px;
    font-weight: 500;
    color: black;
    line-height: 150%;
}

.design-card .skills {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.design-card .skills img {
    width: 50px;
    height: 50px;
}

.design-card-purple {
    background-color: #F0E3FF;
    border: 3px #A659FF solid;
}

.design-card-purple .title {
    background-color: #A659FF;

}

.design-card-blue {
    background-color: #DCF0FF;
    border: 3px #52B4FD solid;
}

.design-card-blue .title {
    background-color: #52B4FD;
}

.design-card-green {
    background-color: #DCF3E7;
    border: 3px #8CE2B5 solid;
}

.design-card-green .title {
    background-color: #8CE2B5;
}

.design-card-yellow {
    background-color: #FEF8DF;
    border: 3px #FFE36E solid;
}

.design-card-yellow .title {
    background-color: #FFE36E;
    color: black;
}