<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home"></a>
    </h1>
  </div>
</header>
<h2 class="code-title">Programming to solve<br>problems in a <span>simple</span> way.</h2>
<div class="code-card">
  <div class="title">
    CohortConnect
    <div class="skill-card-container">
      <div class="skill-card card-pink">Java</div>
      <div class="skill-card card-purple">Backend</div>
    </div>
    <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('cohortconnect')"></div>
  </div>
  <div class="content">
    Developed a 15k lines of code desktop application to facilitate networking among computer science students in university.
  </div>
  <div class="img-container">
    <img src="img/portfolio/cohortconnect.png"/>
  </div>
</div>

<div class="code-card">
  <div class="title">
    Foodzyme
    <div class="skill-card-container">
      <div class="skill-card card-blue">Arduino</div>
      <div class="skill-card card-red">C</div>
    </div>
    <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('foodzyme')"></div>
  </div>
  <div class="content">
    Developed functioning prototype of a system to convert food waste to household cleaning agent in residential areas to promote food waste upcycling.
  </div>
  <div class="img-container">
    <img src="img/portfolio/foodzyme.jpeg"/>
  </div>
</div>