<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home" style="color: black"></a>
    </h1>
  </div>
</header>
<div class="design-title">
  <div style="display: inline-flex; flex-direction: row; align-items: center; align-content: center; gap: 10px">
    <div class="design-pink">Minimalist</div>
    <div>and</div>
    <div class="design-yellow">purposeful
      <div class="design-pointer">
        <img  src="img/icons/design_arrow.png"/>
        <div class="design-pointer-text">collaboration</div>
      </div>
    </div>
  </div>
  <div style="position: relative">
    designs with personality.
    <img class="design-sign" src="img/icons/sign.png"/>
    <div class="design-response">
      <span>Supervisor</span>
      <strong>Love the animations!</strong>
    </div>
  </div>
</div>
<div class="design-cards">
  <div class="design-card design-card-purple">
    <div class="title">
      LABO
    </div>
    <div class="desc">
      Developed the app LABO: Breadwinners of Tomorrow which aims to empower and provide employment opportunities for potent homemakers as a part of the 2019 Technovation Global App Making Challenge.
    </div>
    <div class="skills">
      <img src="img/design_skills/figma.png"/>
    </div>
  </div>

  <div class="design-card design-card-blue">
    <div class="title">
      Shopee App UI/UX Case Study
    </div>
    <div class="desc">
      Worked on a UI/UX case study of the Shopee app user interface as a part of the Shopee Product and Design Challenge 2020 in order to improve upon and add existing features to maintain market competitiveness and enhance consumer satisfaction.
    </div>
    <div class="skills">
      <img src="img/design_skills/figma.png"/>
    </div>
  </div>
  <div class="design-card design-card-green">
    <div class="title">
      Project 3
    </div>
    <div class="desc">
      Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.
    </div>
    <div class="skills">
      <img src="img/design_skills/figma.png"/>
      <img src="img/design_skills/smiley.png"/>
    </div>
  </div>
  <div class="design-card design-card-yellow">
    <div class="title">
      Project 4
    </div>
    <div class="desc">
      Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.
    </div>
    <div class="skills">
      <img src="img/design_skills/figma.png"/>
      <img src="img/design_skills/smiley.png"/>
    </div>
  </div>

</div>