<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home" style="color: black"></a>
    </h1>
  </div>
</header>
<div class="design-title">
  <div style="display: inline-flex; flex-direction: row; align-items: center; align-content: center; gap: 10px">
    <div class="design-pink">Minimalist</div>
    <div>and</div>
    <div class="design-yellow">purposeful
      <div class="design-pointer">
        <img  src="img/icons/design_arrow.png"/>
        <div class="design-pointer-text">collaboration</div>
      </div>
    </div>
  </div>
  <div style="position: relative">
    designs with personality.
    <img class="design-sign" src="img/icons/sign.png"/>
    <div class="design-response">
      <span>Supervisor</span>
      <strong>Love the animations!</strong>
    </div>
  </div>
</div>