<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('code')" class="code-home fa fa-code"></a>
    </h1>
  </div>
</header>
<div class="tab">
  <button class="tablinks active" id="foodzyme-1" onclick="openTab(event, 'foodzyme-overview', 'foodzyme-')">Overview</button>
  <button class="tablinks" id="foodzyme-2" onclick="openTab(event, 'foodzyme-dp', 'foodzyme-')">Development Process</button>
  <button class="tablinks" id="foodzyme-3" onclick="openTab(event, 'foodzyme-outcomes', 'foodzyme-')">Outcomes</button>
</div>
<div class="project-details">
  <div id="foodzyme-overview" class="project-wrapper tabcontent">
    <h1 class="project-wrapper-title">Foodzyme</h1>
    <img src="img/portfolio/foodzyme.jpeg"/>
    <div class="overview-details">
      <div class="project-overview" style="width: 40%">
        <div><h2>Project Overview</h2></div>
        <div>
          Singapore faces a significant food waste problem, and the domestic sector is the leading contributor to this issue.
          Yet, present food waste recycling methods are inadequate and inconvenient for individuals.
          This project aims to upcycle food waste into a value-added output – eco-enzyme – through automation, thereby empowering residential communities to upcycle their food waste.
          The envisioned solution is a “vending machine-like” system that allows residents to deposit their food waste, which is then automatically processed into eco-enzyme.
          Compared to other products upcycled from food waste, eco-enzyme is a versatile cleaning solution that allows Singaporeans to reap the rewards of their efforts when they upcycle their food waste.
          Furthermore, the by-product of the process can also be used as compost by community gardens.
          This project thus aims to be a step forward towards achieving a more sustainable food waste management strategy in Singapore’s residential estates through leveraging technology to inculcate food waste upcycling habits.

        </div>
      </div>

      <div class="project-overview" style="width: 40%">
        <h2>My Role</h2>
        Arduino Developer
        <br/><br/><br/><br/>
        <h2>My Contributions</h2>
        <ul>
          <li>Built Arduino circuits with different components such as screen, keypad, NEMA motors and weight sensors</li>
          <li>Programmed the Arduino's for our prototype</li>
          <li>Conducted thorough application testing of hardware to ensure functionality</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="foodzyme-dp" class="project-wrapper tabcontent-hidden">
    <h1 class="project-wrapper-title">Development of Foodzyme</h1>
  </div>

  <div id="foodzyme-outcomes" class="project-wrapper tabcontent-hidden">
    <h1 class="project-wrapper-title">Foodzyme Outcome</h1>
  </div>
</div>